/*@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');*/
* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*-----------ir arriba----------*/
.ir-arriba{
  display: none;
  padding: 10px;
  background: #000;
  /*font-size: 20px;*/
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
/*----------------INDEX-----------------*/

.logo{
    width: 20%;
    margin-right: 9%;
    margin-top: 2%;
}

nav{
    margin-top: 4%;
    /*margin-right: 5%;*/
    margin-left: 5%;
}
nav ul{
    /*background: #aa66cc;*/
    /*background: rgba(181,121,210,.8);*/
    padding:20px;
}
nav ul a.selector{
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   color: #000;
   padding:20px;
   text-decoration: none;

}
nav ul a:hover{
    color: #3D1E4D;
    border-bottom: 4px #000 solid;
}
.banner { 
  /*border: 2px red solid;*/
    width: 100%;
    position: relative;
    height: 500px;
    /*background: url('../img/banner.jpg');*/
    background: url('../img/banner.jpeg');
    background-size: cover;
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.fondo{
    width: 100%;
    /*position: relative;*/
    /*height: 550px;*/
    /*background: rgba(0,0,0,.5);*/
    /*background: rgba(255,255,255,.1);*/
    /*height: 100%;*/
    overflow: hidden;
}

.tit{
  width: 65%;
  margin: 0 auto;
    clear: both;
    color: #000;
    font-size: 65px;
    text-align: center;
    margin-top: 10%;
}
button{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

button:focus {
  outline: none !important;
}
.btn {
  border-radius: 2px;
  border: 0;
  transition: .2s ease-out;
  color: #fff;
  margin: 6px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn:hover {
  color: #fff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn:active, .btn:focus, .btn.active {
  outline: 0;
  color: #fff;
}

/*Secondary*/
.btn-secondary {
  background-color: #000;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #fff !important;
  color: #000;
}
.btn-secondary.active {
  background-color: #fff !important;
}
.btn-secondary.active:hover {
  color: #000;
}
.btn-secondary.active:focus {
  color: #fff;
}
.leyenda{
  width: 100%;
  background: #000;
  padding: 3%;
}
.leyenda p{
  text-align: center;
  color: #fff;
  font-size: 30px;
}
.iconos{
  text-align: right;
}
.banner2 {
  margin-top: 4%;
  /*border: 2px red solid;*/
    width: 100%;
    position: relative;
    height: 400px;
    /*background: url('../img/banner.jpg');*/
    background: url('../img/banner3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    clear: both;
}
.fondo2{
    width: 100%;
    height: 400px;
    /*position: relative;*/
    /*height: 550px;*/
    background: rgba(0,0,0,.5);
    /*background: rgba(255,255,255,.1);*/
    /*height: 100%;*/
    overflow: hidden;
}
.texto{
  margin-top: 5%;
  color: #fff;
  font-size: 65px;
}
.texto2{
  /*margin-top: 5%;*/
  color: #fff;
  font-size: 38px;
}
/*.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}
.boton{
    text-align: center;
    margin-top: 3%;
}
.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #000;
}

.btn-danger.btn-outline {
    color: #fff;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}*/


/*.............FOOTER--------------*/
footer{
	background: #000;
	font-family: 'Oswald', sans-serif;
	height: 100px;
	/*font-size: 20px;*/
	overflow: hidden;
	clear: both;
}
footer p{
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin-top: 3%;
	color: #fff;
}
/*------------------nosotros--------------*/

/*------------------servicios--------------*/
.imagen {
  /*margin-top: 4%;*/
  /*border: 2px red solid;*/
    width: 100%;
    position: relative;
    height: 250px;
    /*background: url('../img/banner.jpg');*/
    background: url('../img/uno.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.imagen2 {
  /*margin-top: 4%;*/
  /*border: 2px red solid;*/
    width: 100%;
    position: relative;
    height: 250px;
    /*background: url('../img/banner.jpg');*/
    background: url('../img/dos.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.imagen3 {
  /*margin-top: 4%;*/
  /*border: 2px red solid;*/
    width: 100%;
    position: relative;
    height: 250px;
    /*background: url('../img/banner.jpg');*/
    background: url('../img/tres.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.imagen4 {
  /*margin-top: 4%;*/
  /*border: 2px red solid;*/
    width: 100%;
    position: relative;
    height: 250px;
    /*background: url('../img/banner.jpg');*/
    background: url('../img/cuatro.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.imagen5 {
  /*margin-top: 4%;*/
  /*border: 2px red solid;*/
    width: 100%;
    position: relative;
    height: 250px;
    /*background: url('../img/banner.jpg');*/
    background: url('../img/cinco.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.imagen6 {
  /*margin-top: 4%;*/
  /*border: 2px red solid;*/
    width: 100%;
    position: relative;
    height: 250px;
    /*background: url('../img/banner.jpg');*/
    background: url('../img/seis.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
/*--------------------contacto-----------------*/

.contact-form{
 margin-top:15px;
}
.contact-form .textarea{
 min-height:220px; 
 resize:none;
}
.form-control{
 box-shadow:none;
border-color:#eee; 
height:49px;
}
.form-control:focus{ 
  box-shadow:none; 
  border-color:#000;
}
.form-control-feedback{ 
  line-height:50px;
}
.main-btn{ 
  background:#000; 
  border-color:#000; 
  color:#fff;}
.main-btn:hover{ 
  background:#fff;
  color:#000;
}
.form-control-feedback {
line-height: 50px;
top: 0px;
}